body {
    background-color: #30606aac;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    text-align: center;
}
#feedback{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 16%;
    text-align: center
}
#sysgencon{
    font-size: 98%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -3%;
    margin-left: 26%;
}
select, input, button {
    display: block;
    margin: 0 auto;
}
#content{
    display: none;
    margin-top: 11%;
}

#result{
    animation: 1s 1 alternate anim;
}

#headd{
    background-color: rgba(225, 220, 245, 0.274);
    padding-top: 10px;
    padding-bottom: 10px;

}

@keyframes anim {
    from{ 
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}